body
{
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header
{
    padding: 50px;
    text-align: center;
}

header #me h1
{
    margin-bottom: 0px;
}

header #me p
{
    margin-top: 5px;
    font-size: 14px;
}

header a
{
    text-decoration: none;
}

#main
{
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}